
.contacto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(/img/mac_programando.jpeg);

    &__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $verde;
        box-shadow: -3rem 0 0 0px $naranja, -4rem 0 0 0px $blanco;
        background-image: url(/img/fondo-esquina-contacto.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-color: $verde;	
        border-radius: 2rem 0.5rem 0.5rem 2rem;
        padding: 2rem;
        width: 50%;
        min-width: 20rem;
    }
    
    &__mail {
        width: 7rem;
    }

    &__linkedin {
        img {
            height: 5rem;
            transition: 0.75s;
            
            &:hover {
                transform: scale(1.5);  
            }
        }
    }
}