



.contenido {
    // text-align: center;

    // @media (min-width: $telefono) {
        margin-top: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 2rem;
        gap: 2rem; 
    // }
    
}


/* Bloques */
.header {
    // height: 80rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // gap: 2rem;


    &__contenido {
        margin-top: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 2rem;
        gap: 2rem;

        &--titulo {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

    }





}
.nav{
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
    gap: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    
    a {
        
        transition: 0.75s;
        padding: 2rem;
        border-radius: 2rem;
    }

    a:hover {
        letter-spacing: 0.25rem;
        box-shadow: 0 0 3rem 0 $negro-trasparente;

    }
}

.logo {
    width: 5rem;
    margin-left: 10%;
}


.titulo__hello {
    margin: 0;
    padding: 0;
    
}

h1.titulo__hello {
    color: $negro;
    @media (min-width: $telefono) {
        background: linear-gradient($naranja 60%, $verde 60%);

    }
    // min-width: 45rem;
}

.header__img {
    width: 30%;
    min-width: 30rem;
}


/* RRSS */
.contenido {
    &__header {


        &--link {
            font-size: 1.8rem;
        }
    }
}


.contenido__header--rrss {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.contenido__header--link::after {
    content: "\2197";
    color: $blanco;
}




