
/* Hero */
.hero {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10rem 2rem 0rem 2rem;
        gap: 2rem; 
}

.hero { 
    &__titulo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
    }
    
    &__img {
        width: 30%;
        min-width: 30rem;
    }
}

/* Hero Title */
.titulo {
    margin: 1rem 0 0 0;
    padding: 0;

    &--frist {
        color: $negro;
        display: inline;
        background: linear-gradient(transparent 60%, $verde 60%);
    }
}

/* Hero Title anime */

.typewriter::after {
    content: "";
    border-right: 1px solid $blanco;
    animation: blink 0.5s linear infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
}

@keyframes typing {
    0.0000% { content: ""; }
    1.0000% { content: "a"; }
    2.0000%, 27.3488% { content: "a "; }
    3.0395%, 26.2093% { content: "a B"; }
    4.2791%, 25.0698% { content: "a Ba"; }
    5.4186%, 23.9302% { content: "a Bac"; }
    6.5581%, 22.7907% { content: "a Back"; }
    7.6977%, 21.6512% { content: "a Back-"; }
    8.8372%, 20.5116% { content: "a Back-E"; }
    9.9767%, 19.3721% { content: "a Back-En"; }
    10.1163%, 18.2326% { content: "a Back-End"; }
    11.2558%, 17.0930% { content: "a Back-End"; }
  
    30.7674%, 62.2791% { content: "a "; }
    31.9070%, 61.1395% { content: "a F"; }
    33.0465%, 60.0000% { content: "a Fr"; }
    34.1860%, 59.8605% { content: "a Fro"; }
    35.3256%, 58.7209% { content: "a Fron"; }
    36.4651%, 57.5814% { content: "a Front"; }
    37.6047%, 56.4419% { content: "a Front-"; }
    38.6047%, 55.4419% { content: "a Front-E"; }
    39.6047%, 54.4419% { content: "a Front-En"; }
    40.6047%, 53.4419% { content: "a Front-End"; }
    41.6047%, 52.4419% { content: "a Front-End"; }
  
    63.6977%, 91.2093% { content: ""; }
    64.6372%, 90.0698% { content: "F"; }
    65.6767%, 89.9302% { content: "Fe"; }
    66.6163%, 88.7907% { content: "Fer"; }
    67.6558%, 87.6512% { content: "Fern"; }
    68.6558%, 86.6512% { content: "Ferna"; }
    69.6953%, 85.5116% { content: "Fernan"; }
    70.5349%, 84.3721% { content: "Fernand"; }
    71.5349%, 83.3721% { content: "Fernand"; }
    72.5349%, 82.3721% { content: "Fernando"; }
  
}

/* RRSS */
.contenido {
    &__rrss {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;

        a {
            img {
                height: 4rem;
                transition: 0.75s;
                
                &:hover {
                    transform: scale(1.5);  
                }
            }
        }
    }
}

/* Nav */
.nav{
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
    gap: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    
    a { 
        box-shadow: 0px 0px 10px -3px $negro-trasparente;
        transition: 0.75s;
        padding: 2rem;
        border-radius: 2rem;
    }

    a:hover {
        box-shadow: 0 0 3rem 0 $negro-trasparente;
    }
}
