




.sobre-mi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  
  &__img {
    height: 30rem;
    margin: auto auto;
    vertical-align: middle;
  }

  &__content {
    flex-basis: calc(60% - 1rem);
    padding: 0 5rem;
    margin: 0 auto;
  }

  &__titulo {
    text-align: center;

    &--tachado {
        text-decoration: line-through;
    }
  }
  
  &__parrafo {
      text-align: justify;
      text-indent: 2rem;
  }
}