
/* Estandar */

html {
    box-sizing: border-box; /* Tamaño imagenes */
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}
*, *:before, *:after {

    box-sizing: inherit; /* Tamaño imagenes */
}


/* Especifico */

body {
    background-color: $marron;
    font: $titulos;
}
header {
  background-color: $naranja;
}
footer {
    background-color: $marron;
}

h1, h2, h3 {
    color: $blanco;
    font-family: $titulos;
}

h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2rem;
}

a {
    color: $blanco;
    text-decoration: none;
    font-family: $titulos;
    font-weight: bold;
}

p {
    color: $negro;
    font-size: 1.8rem;
    font-family: $contenido;
    line-height: 3rem;
}


section {
  padding: 5rem 0;
  background-color: $naranja;
}

