
/* Colores */

$blanco: #F2F2F2;
$negro: #2C4355;
$naranja: #F8AF75;
$verde: #9FD4CA;
$marron: #343233;
$negro-trasparente: #2c435580;

/* Fuentes */

$titulos: "Open Sans", Arial, Helvetica, sans-serif;
$contenido: "Montserrat", sans-serif;


/* Tamaños de Media Queries */

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;